// Custom vars
$baseimgdir: "../img/";
// Import Core-Framework
@import '../../core/core-framework/assets/scss/main';
// Import Core-Components
@import '../../core/core-components/app/assets/scss/main';
// Import Core-Components
@import '../../core/core-components/app/assets/scss/main_wl';
// Imports or other styles
