<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="modal-trigger text-08-m-demibold text-11-d-demibold text-center" data-trigger-modal="modal-example-discard-changes">Descartar cambios</p>
    </div>
  </div>
</div>

<div class="modal normal modal-example-discard-changes">
  <span class="icon icon-cancel"></span>
  <div class="modal-wrapper">
    <div class="discard-changes">
      <p class="text-03-m-regular text-04-d-regular white">Si descartas los cambios volverás a ver los resultados que ya tenías anteriormente.</p>
      <button class="btn solid-secondary">Descartar cambios</button>
      <button class="btn negative-line white">Seguir editando</button>
    </div>
  </div>
</div>
