<div class="container wsection">
  <div class="row">
    <div class="col-xs-12 modify-title">
      <span class="icon icon-arrow-left"></span>
      <p class="text-10-m-demibold white">TODOS LOS PASOS</p>
      <div class="go-section desktop">
        <span class="icon icon-alert"></span>
        <span class="message text-09-m-demibold text-13-d-demibold">Por favor, completa las preguntas del <span class="step">Paso 2</span> para continuar</span>
      </div>
      <span class="icon icon-cancel"></span>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 wcontainer">
      <div class="collapse">
        <p class="collapse-trigger text-07-m-demibold text-01-d-light white">1. Datos de la moto<span class="icon icon-arrow-right visible-xs "></span><span class="icon icon-chevron-down hidden-xs"></span></p>
        <div class="collapsed">
          <div class="modify-title step">
            <span class="collapse-horizontal-trigger icon icon-arrow-left"></span>
            <p class="text-10-m-demibold white">1. Datos de la moto</p>
            <span class="icon icon-cancel"></span>
          </div>
          <ul class="submenu">
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Marca</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Honda<i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Modelo</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white disabled">Scoopy 125 SH  <i class="icon icon-edit" ></i></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Cilindrada</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">124  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Tu moto</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Selecciona tu moto  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">¿Acabas de comprarla?</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">No, ya la tenía  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Antigüedad y fecha de compra</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">02/2002, 02/2003  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Uso</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Particular, a diario, fines de...  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Aparcamiento</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">En garaje individual  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Kms anuales</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Hasta 5.000 Km  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse">
        <p class="collapse-trigger alert text-04-m-demibold white">2. Datos del Conductor
          <span class="icon icon-alert"></span>
          <span class="icon icon-arrow-right visible-xs"></span><span class="icon icon-chevron-down hidden-xs"></span>
          <span class="message-error in">Por favor, completa las preguntas que faltan</span>
        </p>
        <div class="collapsed">
          <div class="modify-title step">
            <span class="collapse-horizontal-trigger  icon icon-arrow-left"></span>
            <p class="text-10-m-demibold white">2. Datos del Conductor</p>
            <span class="icon icon-cancel"></span>
          </div>
          <ul class="submenu">
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Fecha de nacimiento</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">24/04/1990  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Lugar de nacimiento</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">España  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Tipo de carné</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white disabled">A (para conducir todo tipo...)  <i class="icon icon-edit" ></i><i class="icon icon-alert"></i>
              <div class="text-error in">Por favor, selecciona tipo de carné</div>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Fecha de obtención del carné</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">03/2014  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Lugar de obtención del carné</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">España  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Datos del conductor principal</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Hombre, soltero  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">DNI/NIE</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">02146357P  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Profesión</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Directivo  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Pasajero</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Nunca  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Código postal residencia</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">28001  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Titular del seguro</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">El cónyugue del conductor...  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Edad del titular del seguro</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">21 años  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Tipo de carné</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">A (para conducir todo tipo de...  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Edad de obtención</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">18 años  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Sexo y estado civil</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Mujer, casado/a  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse">
        <p class="collapse-trigger text-04-m-demibold white">3. Datos del Seguro<span class="icon icon-arrow-right visible-xs "></span><span class="icon icon-chevron-down hidden-xs"></span></p>
        <div class="collapsed">
          <div class="modify-title step">
            <span class="collapse-horizontal-trigger  icon icon-arrow-left"></span>
            <p class="text-10-m-demibold white">3. Datos del Seguro</p>
            <span class="icon icon-cancel"></span>
          </div>
          <ul class="submenu">
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Seguro anterior</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Si  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Compañía</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">Caser  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Vencimiento</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">02/2019  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Antigüedad en la compañía</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">1 año  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Información de partes</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">3  <i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="collapse">
        <p class="collapse-trigger text-04-m-demibold white">4. Email<span class="icon icon-arrow-right visible-xs "></span><span class="icon icon-chevron-down hidden-xs"></span></p>
        <div class="collapsed">
          <div class="modify-title step">
            <span class="collapse-horizontal-trigger  icon icon-arrow-left"></span>
            <p class="text-10-m-demibold white">4. Email</p>
            <span class="icon icon-cancel"></span>
          </div>
          <ul class="submenu">
            <li class="question-item">
              <div class="title text-07-m-regular text-10-d-regular">Email</div>
              <div class="maintext text-04-m-demibold text-06-d-demibold white">nombre@email.com<i class="icon icon-edit" ></i><i class="icon icon-check"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="go-section mobile">
      <span class="icon icon-alert"></span>
      <span class="message text-09-m-demibold text-13-d-demibold">Por favor, completa las preguntas del <span class="step">Paso 2</span> para continuar</span>
    </div>
  </div>
</div>
