<div class="modal slide-left container wsection">
  <div class="row">
    <div class="col-xs-12 modify-title step question">
      <a class="close-modal-trigger"><span class="icon icon-arrow-left"></span></a>
      <p class="text-10-m-regular white"></p>
      <span class="icon icon-cancel" data-no-close-modal="true"></span>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 wrapper-question">
      <p class="title-d-section text-06-d-demibold white hidden-xs">1. Datos de la pregunts</p>
      <div class="edit-question">
      <!--- Add content - Customer Journey Question !-->
      <div class="question-wrapper">
        <h1 class="text-center without-help text-02-m-light text-01-d-light">¿Pregunta título?</h1>

        <div class="form-control selector">
          <label class="selector-wrapper">
            <input type="radio" name="demo">
            <div class="card-selector shadow-5">
                <span class="title text-09-d-demibold">Lorem ipsum</span>
            </div>
          </label>
        </div>
        <div class="form-control selector">
          <label class="selector-wrapper">
            <input type="radio" name="demo">
            <div class="card-selector shadow-5">
                <span class="title text-09-d-demibold">Lorem ipsum</span>
            </div>
          </label>
        </div>
        <div class="form-control selector">
          <label class="selector-wrapper">
            <input type="radio" name="demo">
            <div class="card-selector shadow-5">
              <span class="title text-09-d-demibold">Lorem ipsum</span>
            </div>
          </label>
        </div>
      </div>
      <!--- End content - Customer Journey Question !-->
        <button class="btn solid-main">Guardar</button>
      </div>
    </div>
  </div>
</div>
