<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Modify Data</title>
    <link rel="stylesheet" href="css/main.min.css">
  </head>
  <body>
    {{#> content-block}}

    {{> includes/ws/modify_data/discard }}

    {{/content-block}}

    <script src="js/core.min.js"></script>
    <script src="js/main.min.js"></script>

  </body>
</html>
