{{#> layouts/base title="CJ Waiting Page" bodyId="cj-product" }}

  {{#*inline "content-block"}}
    <div class="waiting-page-wrapper">
      <div class="waiting-page">
      </div>
      <div class="bottom-bg">
      </div>
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="wrapper">
                <h1>Estamos rastreando más de 20 aseguradoras en tiempo real para conseguirte el mejor precio para tu seguro del Opel Astra serie V-12X</h1>
              </div>
              <div class="puff-animation">
                <div class="video-wrapper">
                  <div class="border-spin">
                  </div>
                  <div class="video">
                    <video autoplay muted loop class="hidden">
                      <source src="videos/waiting.mp4" type="video/mp4">
                    </video>
                    <img src="img/cj/waiting/waiting.png" srcset="img/cj/waiting/waiting@2x.png 2x, img/cj/waiting/waiting@3x.png 3x" alt="Rastreator.com">
                  </div>
                </div>
              </div>
              <div class="final-text">
                <p>Tras comprobar y completar los datos necesarios para contratar es posible que las compañías varíen el precio.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/inline}}

  {{#*inline "footer-block"}}
    <!-- No hay footer -->
  {{/inline}}

{{/layouts/base}}
