<div class="modal normal modal-cj-bike-model">
  <span class="icon icon-cancel"></span>
  <div class="modal-wrapper">
    <div class="title">
      <h2>Puedes encontrar el modelo de tu moto en la Tarjeta de Inspección Técnica del Vehículo, en el apartado “Denominación comercial”:</h2>
    </div>
    <div class="image">
      <img src="img/cj/modal/dcomercial.png" srcset="img/cj/modal/dcomercial@2x.png 2x, img/cj/modal/dcomercial@3x.png 3x" />
    </div>
    <button class="btn solid-secondary close-modal-trigger">Ok</button>
  </div>
</div>
