<div class="modal normal modal-cj-bike-cilindrada">
  <span class="icon icon-cancel"></span>
  <div class="modal-wrapper">
    <div class="title">
      <h2 class="text-03-m text-04-d">Puedes encontrar la cilindrada de tu moto en la Tarjeta de Inspección Técnica del Vehículo, en el apartado “Nº Cilindros/Cilindrada”:</h2>
    </div>
    <div class="image">
      <img src="img/cj/modal/ncilindros.png" srcset="img/cj/modal/ncilindros@2x.png 2x, img/cj/modal/ncilindros@3x.png 3x" />
    </div>
    <button class="btn solid-secondary close-modal-trigger text-08-d-regular">Ok</button>
  </div>
</div>
