<div class="modal normal modal-cj-bike-calculadora-km">
  <span class="icon icon-cancel"></span>
  <div class="modal-wrapper">
    <div class="title">
      <h2 class="text-03-m-regular text-04-d-regular">Calculadora de kms anuales</h2>
    </div>
    <form>
      <div class="form-control input with-label">
        <label for="input" class="text-07-m-regular text-11-d-regular">Kms diarios de Lunes a Viernes</label>
        <input type="number" name="input" class="text-input">
      </div>
      <div class="form-control input with-label">
        <label for="input" class="text-07-m-regular text-11-d-regular">Kms diarios en fin de semana</label>
        <input type="number" name="input" class="text-input">
      </div>
      <div class="form-control input with-label">
        <label for="input" class="text-07-m-regular text-11-d-regular">Kms anuales en viajes</label>
        <input type="number" name="input" class="text-input">
      </div>
      <button class="btn solid-secondary text-08-d-regular calculate" type="submit">Calcular</button>
    </form>
    <div class="results">
      <span class="result-text text-03-m-regular text-04-d-regular">Total: <span>6260</span> km/año</span>
      <button class="btn solid-main close-modal-trigger text-08-d-regular" type="submit">Avanzar</button>
    </div>
  </div>
</div>
