<div class="filter">
  <div class="filter-data">

    <div class="filter-data-items active">
      <p class="filter-header">Terceros</p>
      {{> includes/pp/car-result-info count="17" type="" amount="180" }}
    </div>

    <div class="filter-data-items">
      <p class="filter-header">Terceros ampliado</p>
      {{> includes/pp/car-result-info count="000" type="" amount="000" }}
    </div>

    <div class="filter-data-items">
      <p class="filter-header">Todo riesgo con franquicia</p>
      {{> includes/pp/car-result-info count="000" type="" amount="000" }}
    </div>

    <div class="filter-data-items">
      <p class="filter-header">Todo riesgo</p>
      {{> includes/pp/car-result-info count="000" type="" amount="000" }}
    </div>

  </div>

  {{> includes/pp/modify-data class="hidden-xs" }}
  <div class="hidden-xs hidden-sm help-button-wrapper-desktop">
    {{> includes/help_button class="sticky" }}
  </div>
</div>
