<div class="options-block-container">
  <div class="options-block">
    {{> includes/pp/ras-review score="4,5" class="hidden-lg hidden-md hidden-sm" }}
    <div class="block-wrapper">
      {{> includes/pp/car-button phone="y" phone_number="91 000 000" ref_number="12345678900000" scheudle="2" }}
      {{> includes/pp/car-button button="y" button_text="Que me llame un agente" }}
      {{> includes/pp/car-button link="y" link_text="Ver oferta en la web" }}
    </div>
  </div>
</div>
