<div class="result-resume-container">
  <div class="result-resume">
    {{> includes/pp/car-modify-data class="hidden-lg hidden-md" }}
    {{> includes/pp/car-result-info count="17" type="resultados" amount="188" }}
  </div>
  <div class="divider hidden-sm hidden-xs"></div>
</div>
