<div class="result-info">
  <div class="amount">
    <span class="count">{{count}} {{#if text-results}} {{text-results}} {{/if}}</span>
    <span class="type">{{type}}</span>
  </div>
  <div class="conditions">
    <span>resultados desde</span>
    <span class="price-from">{{amount}}€</span>
  </div>
</div>
