<div class="comparative-item">
    <div class="comparative-item-card">
      {{> includes/pp/selector }}
      <div class="price-block-container horizontal">
        {{> includes/pp/price-block tag=tag tag_class=tag_class logo=logo amount=amount conditions=conditions franchise=franchise web_price=web_price details=details}}
      </div>
      {{> includes/pp/options-block }}
    </div>
    <div class="more-info"> <span link>Información del seguro</span></div>
</div>
