<div class="coverage-details accordion collapse">
  <h5 class="title {{# if active}} active {{/if}} {{# if simple}} active {{else}} collapse-trigger {{/if}}">
    Lorem ipsum
  </h5>
  <div class="collapsed {{# if active}} active {{/if}} {{# if simple}} active {{/if}}">
    {{# if simple}} 
      <div class="coverage-details-item">
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
          </div>
        </div>
      </div>
    {{else}}
      <div class="coverage-details-item">
        <h6 class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis dui, maximus a nibh a, consectetur vulputate nisi.</p>
          </div>
        </div>
      </div>
      <div class="coverage-details-item">
        <h6 class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check covered"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis dui, maximus a nibh a, consectetur vulputate nisi.</p>
          </div>
        </div>
      </div>
      <div class="coverage-details-item">
        <h6 class="subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc felis dui, maximus a nibh a, consectetur vulputate nisi.</p>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
