<div class="coverage-details accordion collapse">
  <h5 class="title collapse-trigger">
    Responsabilidad social obligatoria
  </h5>
  <div class="collapsed">
    <div class="coverage-details-item">
      <h6 class="subtitle">
        Daños físicos ocasionados por nuestro vehículo a terceros y sus bienes
      </h6>
      <div class="columns">
        <div class="coverage-details-card">
          <span class="check not-covered"></span>
          <p>Hasta 70 millones de euros en daños personales y hasta 15 millones de euros en daños materiales.</p>
        </div>
      </div>
    </div>
    <div class="coverage-details-item">
      <h6 class="subtitle">
        Daños físicos ocasionados por nuestro vehículo a terceros y sus bienes
      </h6>
      <div class="columns">
        <div class="coverage-details-card">
          <span class="check not-covered"></span>
          <p>Hasta 70 millones de euros en daños personales y hasta 15 millones de euros en daños materiales.</p>
        </div>
      </div>
    </div>
    <div class="coverage-details-item">
      <h6 class="subtitle">
        Daños físicos ocasionados por nuestro vehículo a terceros y sus bienes
      </h6>
      <div class="columns">
        <div class="coverage-details-card">
          <span class="check not-covered"></span>
          <p>Hasta 70 millones de euros en daños personales y hasta 15 millones de euros en daños materiales.</p>
        </div>
      </div>
    </div>
  </div>
</div>
