
<div class="price-resume-list">

  <div class="coverage-details accordion">
    <h5 class="title"></h5>
    <div class="collapsed">
      <div class="coverage-details-item">
        <h6 class="subtitle">Terceros con asistencia en viaje</h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check"></span>
            <p>56 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check covered"></span>
            <p>62 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
            <p>80 €</p>
          </div>
        </div>
      </div>
      <div class="coverage-details-item">
        <h6 class="subtitle">Terceros con asistencia en viaje</h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check"></span>
            <p>56 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check covered"></span>
            <p>62 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
            <p>80 €</p>
          </div>
        </div>
      </div>
      <div class="coverage-details-item">
        <h6 class="subtitle">Terceros con asistencia en viaje</h6>
        <div class="columns">
          <div class="coverage-details-card">
            <span class="check"></span>
            <p>56 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check covered"></span>
            <p>62 €</p>
          </div>
          <div class="coverage-details-card">
            <span class="check not-covered"></span>
            <p>80 €</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>