<div class="ras-review-container{{#if class}} {{class}}{{/if}}">
  <div class="ras-review">
    <p>
      Valoración<span class="hidden-xs">Rastreator</span><span class="score">{{score}}</span><span class="separator">/</span>5
    </p>
  </div>
</div>
