<div class="selector">
  <div class="form-control select">
    <div class="select-wrapper">
      <select>
        <option  value="value">name</option>
        <option  value="value">name</option>
        <option  value="value">name</option>
        <option  value="value">name</option>
        <option  value="value">name</option>
      </select>
    </div>
  </div>
</div>
